<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="cadena_conexion_Somee"
connectionString="workstation id=PRODERP.mssql.somee.com;packet size=4096;user id=ARM;pwd=12345678;data source=PRODERP.mssql.somee.com;persist security info=False;initial catalog=PRODERP"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>